
add_library( taiyi_plugins
   mf_plugins.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/plugins.hpp
)

target_link_libraries( taiyi_plugins appbase fc
{% for plugin in plugins %}
   {{ plugin["plugin_project"] }}
{% endfor %}
)

target_include_directories( taiyi_plugins
   PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include"
   )

INSTALL( TARGETS
   taiyi_plugins

   RUNTIME DESTINATION bin
   LIBRARY DESTINATION lib
   ARCHIVE DESTINATION lib
)
